<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
		<title>Text Based 3D</title>
		<style>
			body
			{
				margin: 0px;	
			}
			
			canvas
			{
				width: 100%;
				height: 100%;
			}
		</style>
	</head>
	<body>
		
		<script src="{{ url_for('static', filename='three.js') }}"></script>
		<script>
		
			var loader = new THREE.FontLoader();
			var camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000);
		
			var renderer = new THREE.WebGLRenderer();
			renderer.setSize( window.innerWidth, window.innerHeight );
			document.body.appendChild( renderer.domElement );
			
			loader.load( '{{ url_for('static', filename='helvetiker_regular.typeface.json') }}', function( font ) {
				
				var geometry = new THREE.TextGeometry( 'Hello There', {
					font: font,
					size: 80,
					height: 5				
				} );
				
			} );
			
			
			
			var material = new THREE.MeshBasicMaterial( { color: 0x00ff00, wireframe: false } );
			//var cube = new THREE.Mesh( geometry, material );
			scene.add( cube );
		
			camera.position.z = 5;
			
			function render()
			{
					requestAnimationFrame( render );
					
					cube.rotation.x += 0.01;
					cube.rotation.y += 0.001;
					cube.rotation.z += 0.05;
					
					renderer.render( scene, camera );
			}
			render();
		
		</script>
		
	</body>
</html>
